<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <script src="{{url_for('static', filename = 'js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename = 'js/socket.io.min.js')}}"></script>
    <script src="{{url_for('static', filename = 'js/echarts.min.js')}}"></script>
</head>

<body>
    <!--为ECharts准备一个具备大小（宽高）的Dom-->
    <div id="main" style="height:500px;border:1px solid #ccc;padding:10px;"></div>

    <script type="text/javascript">

    //--- 折柱 ---
    var myChart = echarts.init(document.getElementById('main'));

    myChart.setOption({
        title: {
            text: '炉温监控'
        },
        tooltip: {},
        legend: {
            data:['signal']
        },
        xAxis: {
            data: []
        },
        yAxis: {},
        series: [{
            name: 'signal',
            type: 'line',
            data: []
        }]
    });

    // 全局变量：time、signal
    var time = ["","","","","","","","","",""],
        signal = [0,0,0,0,0,0,0,0,0,0]



    //准备好统一的 callback 函数
    var update_mychart = function (res) { //res是json格式的response对象

        // 隐藏加载动画
        myChart.hideLoading();

        // 准备数据
        time.push(res.data[0]);
        signal.push(parseFloat(res.data[1]));
        if (time.length >= 10){
            time.shift();       //shift() 方法用于把数组的第一个元素从其中删除，并返回第一个元素的值。
            signal.shift();
        }

        // 填入数据
        myChart.setOption({
            xAxis: {
                data: time
            },
            series: [{
                name: 'signal', // 根据名字对应到相应的系列
                data: signal
            }]
        });

    };

    // 首次显示加载动画
    myChart.showLoading();


    // 建立socket连接，等待服务器“推送”数据，用回调函数更新图表
    $(document).ready(function() {
        namespace = '/test';
        var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

        socket.on('server_response', function(res) {
            update_mychart(res);
        });

    });

    </script>
</body>
</html>